
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Project_0
/EngineLog.txt
/Project_0.cbp
/Project_0.depend
/Project_0.layout
/ValgrindOut.xml
/log.txt
/Omap.cpp
/Omap.h
/maps/level_0x.xml
/maps/map.xml
/models/box.mtl
/models/box.xml
/models/box3.mtl
/models/box4.mtl
/models/cave.mtl
/models/cave_000.blend
/models/map.blend
/models/map.blend1
/models/map.mtl
/models/sphere.mtl
/models/tile.blend
/models/tile.blend1
/models/tile.mtl
/models/wyvern.mtl
/shaders/basicshader.frag
/shaders/basicshader.vert
/shaders/textureshading.frag
/shaders/textureshading.vert
/textures/player.png
/textures/sand_grey.png
/textures/tiles/generic_platformer_tiles.png
