
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Project_0
/EngineLog.txt
/Project_0.cbp
/Project_0.depend
/Project_0.layout
/ValgrindOut.xml
/log.txt
