/background_01.png
/map.xml~
/data/tilesets/tileset_0.png
/test_0.tmx
/CMakeLists.txt~
/CppCheckResults.xml
/ValgrindOut.xml
/CMakeCache.txt
/CMakeFiles/2.8.12.2/CMakeCCompiler.cmake
/CMakeFiles/2.8.12.2/CMakeCXXCompiler.cmake
/CMakeFiles/2.8.12.2/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/2.8.12.2/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/2.8.12.2/CMakeSystem.cmake
/CMakeFiles/2.8.12.2/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/2.8.12.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/CMakeDirectoryInformation.cmake
/CMakeFiles/CMakeOutput.log
/CMakeFiles/Makefile.cmake
/CMakeFiles/Makefile2
/CMakeFiles/TargetDirectories.txt
/CMakeFiles/cmake.check_cache
/CMakeFiles/progress.marks
/CMakeFiles/project_0.dir/CXX.includecache
/CMakeFiles/project_0.dir/DependInfo.cmake
/CMakeFiles/project_0.dir/build.make
/CMakeFiles/project_0.dir/cmake_clean.cmake
/CMakeFiles/project_0.dir/depend.internal
/CMakeFiles/project_0.dir/depend.make
/CMakeFiles/project_0.dir/flags.make
/CMakeFiles/project_0.dir/link.txt
/CMakeFiles/project_0.dir/progress.make
/Makefile
/Project_0_debug
/cmake_install.cmake
/project_0
/Project_0.cbp
/Project_0.cfg
/Project_0.depend
/Project_0.layout
/Project_0.log
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
